/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/rgb.h>

/ {
    // Activate ADJUST layer by pressing raise and lower

    conditional_layers { compatible = "zmk,conditional-layers"; };

    behaviors {
        HTL: HTL {
            compatible = "zmk,behavior-hold-tap";
            label = "HTL";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
            hold-trigger-on-release;
            hold-trigger-key-positions = <6 7 8 9 10 11 18 19 20 21 22 23 30 31 32 33 34 35 43 44 45 46 47 48 49 54 55 56 57>;
            hold-while-undecided;
        };

        HTR: HTR {
            compatible = "zmk,behavior-hold-tap";
            label = "HTR";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
            hold-trigger-on-release;
            hold-while-undecided;
            hold-trigger-key-positions = <0 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 29 36 37 38 39 40 41 42 50 51 52 53>;
        };

        mouse_mov_v: mouse_mov_v {
            compatible = "zmk,behavior-sensor-rotate";
            label = "MOUSE_MOV_V";
            #sensor-binding-cells = <0>;
            bindings = <&mmv MOVE_UP>, <&mmv MOVE_DOWN>;
        };

        mouse_mov_h: mouse_mov_h {
            compatible = "zmk,behavior-sensor-rotate";
            label = "MOUSE_MOV_H";
            #sensor-binding-cells = <0>;
            bindings = <&mmv MOVE_RIGHT>, <&mmv MOVE_LEFT>;
        };

        mouse_scroll_v: mouse_scroll_v {
            compatible = "zmk,behavior-sensor-rotate";
            label = "MOUSE_SCROLL_V";
            #sensor-binding-cells = <0>;
            bindings = <&msc SCRL_UP>, <&msc SCRL_DOWN>;
        };

        mouse_scroll_h: mouse_scroll_h {
            compatible = "zmk,behavior-sensor-rotate";
            label = "MOUSE_SCROLL_H";
            #sensor-binding-cells = <0>;
            bindings = <&msc SCRL_RIGHT>, <&msc SCRL_RIGHT>;
        };

        sensor_transp: sensor_transp {
            compatible = "zmk,behavior-sensor-rotate-var";
            label = "SENSOR_TRANSP";
            #sensor-binding-cells = <2>;
            bindings = <&trans>, <&trans>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        Master {
            // ------------------------------------------------------------------------------------------------------------
            // |  ESC  |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |   `   |
            // |  TAB  |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   |   -   |
            // |  CTRL |  A  |  S  |  D   |  F   |  G   |                   |  H   |  J    |  K    |  L   |   ;   |   '   |
            // | SHIFT |  Z  |  X  |  C   |  V   |  B   |  MUTE  |  |RGB_TOG|  N   |  M    |  ,    |  .   |   /   | SHIFT |
            //                     | ALT  | GUI  | LOWER|  SPACE |  | ENTER | RAISE| BSPC  | GUI   |

            bindings = <
&kp ESC         &kp N1           &kp N2           &kp N3        &kp N4             &kp N5                                 &kp N6           &kp N7              &kp N8           &kp N9            &kp N0               &kp GRAVE
&kp TAB         &kp Q            &kp W            &kp E         &kp R              &kp T                                  &kp Y            &kp U               &kp I            &kp O             &kp P                &kp MINUS
&kp LEFT_SHIFT  &HTL LEFT_GUI A  &HTL LEFT_ALT S  &HTL LCTRL D  &HTL LEFT_SHIFT F  &kp G                                  &kp H            &HTR RIGHT_SHIFT J  &HTR RCTRL K     &HTR RIGHT_ALT L  &HTR RIGHT_GUI SEMI  &kp SQT
&kp LCTRL       &kp Z            &kp X            &kp C         &kp V              &kp B      &mkp LCLK      &mkp RCLK    &kp N            &kp M               &kp COMMA        &kp DOT           &kp FSLH             &kp RSHFT
                                                  &lt 6 ESCAPE  &kp LGUI           &lt 1 TAB  &lt 2 SPACE    &lt 3 ENTER  &lt 4 BACKSPACE  &lt 5 DEL           &kp PRINTSCREEN
            >;

            sensor-bindings = <&mouse_mov_v>, <&mouse_mov_h>;
        };

        NAV {
            bindings = <
&trans  &trans    &trans    &trans     &trans     &trans                          &trans         &trans          &trans         &trans        &trans         &trans
&trans  &trans    &trans    &trans     &trans     &trans                          &kp C_AC_REDO  &kp C_AC_PASTE  &kp C_AC_COPY  &kp C_AC_CUT  &kp C_AC_UNDO  &trans
&trans  &kp LGUI  &kp LALT  &kp LSHFT  &kp LCTRL  &kp CAPSLOCK                    &kp LEFT       &kp DOWN        &kp UP         &kp RIGHT     &trans         &trans
&trans  &trans    &trans    &trans     &trans     &trans        &trans    &trans  &kp INSERT     &kp HOME        &kp PAGE_DOWN  &kp PAGE_UP   &kp END        &trans
                            &trans     &trans     &trans        &trans    &trans  &kp BACKSPACE  &trans          &trans
            >;

            label = "navigation";
            sensor-bindings = <&sensor_transp 0 0>, <&mouse_scroll_h>;
        };

        MOUSE {
            bindings = <
&trans  &trans    &trans    &trans     &trans     &trans                             &trans          &trans          &trans        &trans           &trans      &trans
&trans  &trans    &trans    &trans     &trans     &trans                             &kp K_REDO      &kp K_PASTE     &kp K_COPY    &kp K_CUT        &kp K_UNDO  &trans
&trans  &kp LGUI  &kp LALT  &kp LSHFT  &kp LCTRL  &kp CAPSLOCK                       &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_UP  &mmv MOVE_RIGHT  &trans      &trans
&trans  &trans    &trans    &trans     &trans     &trans        &trans    &trans     &msc SCRL_LEFT  &msc SCRL_DOWN  &msc SCRL_UP  &msc SCRL_RIGHT  &kp END     &trans
                            &trans     &trans     &trans        &trans    &mkp LCLK  &mkp RCLK       &mkp MCLK       &trans
            >;

            label = "Mouse";
            sensor-bindings = <&sensor_transp 0 0>, <&mouse_scroll_v>;
        };

        SYM {
            bindings = <
&kp F1  &kp F2           &kp F3         &kp F4        &kp F5                &kp F6                                      &kp F7  &kp F8     &kp F9     &kp F10   &kp F11   &kp F12
&trans  &kp RIGHT_BRACE  &kp AMPERSAND  &kp ASTERISK  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS                       &trans  &trans     &trans     &trans    &trans    &trans
&trans  &kp LEFT_BRACE   &kp DOLLAR     &kp PERCENT   &kp CARET             &kp PLUS                                    &trans  &kp RSHFT  &kp RCTRL  &kp RALT  &kp RGUI  &trans
&trans  &kp COLON        &kp EXCL       &kp AT        &kp HASH              &kp PIPE               &trans       &trans  &trans  &trans     &trans     &trans    &trans    &trans
                                        &kp TILDE     &kp LESS_THAN         &kp GREATER_THAN       &kp UNDER    &trans  &trans  &trans     &trans
            >;

            label = "Symbols";
        };

        NUM {
            bindings = <
&kp F1  &kp F2    &kp F3  &kp F4     &kp F5     &kp F6                          &kp F7  &kp F8     &kp F9     &kp F10   &kp F11   &kp F12
&trans  &kp RBKT  &kp N7  &kp N8     &kp N9     &kp N0                          &trans  &trans     &trans     &trans    &trans    &trans
&trans  &kp LBKT  &kp N4  &kp N5     &kp N6     &kp EQUAL                       &trans  &kp RSHFT  &kp RCTRL  &kp RALT  &kp RGUI  &trans
&trans  &kp SEMI  &kp N1  &kp N2     &kp N3     &kp FSLH   &trans       &trans  &trans  &trans     &trans     &trans    &trans    &trans
                          &kp GRAVE  &kp COMMA  &kp DOT    &kp MINUS    &trans  &trans  &trans     &trans
            >;

            label = "Numeric";
        };

        FUNCS {
            bindings = <
&trans  &trans   &trans  &trans  &trans  &trans                    &trans  &trans     &trans     &trans    &trans    &trans
&trans  &kp F12  &kp F7  &kp F8  &kp F9  &trans                    &trans  &trans     &trans     &trans    &trans    &trans
&trans  &kp F11  &kp F4  &kp F5  &kp F6  &trans                    &trans  &kp RSHFT  &kp RCTRL  &kp RALT  &kp RGUI  &trans
&trans  &kp F10  &kp F1  &kp F2  &kp F3  &trans  &trans    &trans  &trans  &trans     &trans     &trans    &trans    &trans
                         &trans  &trans  &trans  &trans    &trans  &trans  &trans     &trans
            >;

            label = "Fkeys";
        };

        MEDIA {
            bindings = <
&trans  &trans    &trans    &trans     &trans     &trans                        &trans           &trans           &trans           &trans           &trans        &trans
&trans  &trans    &trans    &trans     &trans     &trans                        &rgb_ug RGB_EFF  &rgb_ug RGB_HUI  &rgb_ug RGB_SAI  &rgb_ug RGB_SPI  &trans        &trans
&trans  &kp LGUI  &kp LALT  &kp LCTRL  &kp LSHFT  &trans                        &rgb_ug RGB_TOG  &trans           &trans           &trans           &trans        &trans
&trans  &trans    &trans    &trans     &trans     &trans  &trans    &kp K_MUTE  &bt BT_CLR       &bt BT_SEL 0     &bt BT_SEL 1     &bt BT_SEL 2     &bt BT_SEL 3  &bt BT_CLR_ALL
                            &trans     &trans     &trans  &trans    &kp C_STOP  &kp K_PREV       &kp K_NEXT       &trans
            >;

            sensor-bindings =
                <&sensor_transp 0 0>,
                <&inc_dec_kp C_VOLUME_UP C_VOLUME_DOWN>;

            label = "Media";
        };
    };
};
